<!-- signup.hbs -->

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
    }
    form {
        background-color: #fff;
        max-width: 400px;
        margin: 50px auto;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    h1 {
        color: brown;
        text-align: center;
    }
    input[type="email"], input[type="password"], button {
        display: block;
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }
    button {
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
    }
    button:hover {
        background-color: #45a049;
    }
</style>


<h1>Signup</h1>
<form action="/signup" method="POST">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Sign Up</button>
</form>


<script>
    const form = document.querySelector('form');

    form.addEventListener('submit', (e) => {
        e.preventDefault();

        // Get form input values
        const email = form.email.value;
        const password = form.password.value;

        fetch('/signup', {
            method: 'POST',
            body: JSON.stringify({ email, password }),
            headers: { 'Content-Type': 'application/json' }
        })
        .then(res => {
            if (!res.ok) {
                throw new Error('Network response was not ok');
            }
            return res.json();
        })
        .then(data => {
            console.log(data);
           
            window.location.assign('/login');
        })
        .catch(error => {
            console.error('Error:', error);
        });

        // Log form values
        console.log(email, password);
    });
</script>
